<div class="container mt-5">
  <h1 class="text-center mb-4">Mensajes</h1>

  <div class="list-group">
    <% @messages.each do |message| %>
      <%= link_to message_path(message), class: "list-group-item list-group-item-action" do %>
        <p class="mb-0">
          <strong>Message ID:</strong> <%= message.id %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
