<div class="container mt-5">
  <h1 class="mb-4 text-center">Página principal</h1>

  <div class="list-group">
    <%= link_to "Usuarios", users_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Chats", chats_path, class: "list-group-item list-group-item-action" %>
    <%= link_to "Mensajes", messages_path, class: "list-group-item list-group-item-action" %>
  </div>
</div>
